DHCPv6/test/dbunit-jagornet-dhcpv6.dtd

<!ELEMENT dataset (
    DHCPOPTION*,
    IAADDRESS*,
    IAPREFIX*,
    IDENTITYASSOC*)>

<!ELEMENT DHCPOPTION EMPTY>
<!ATTLIST DHCPOPTION
    ID CDATA #REQUIRED
    CODE CDATA #IMPLIED
    VALUE CDATA #IMPLIED
    IDENTITYASSOC_ID CDATA #IMPLIED
    IAADDRESS_ID CDATA #IMPLIED
>

<!ELEMENT IAADDRESS EMPTY>
<!ATTLIST IAADDRESS
    ID CDATA #REQUIRED
    IPADDRESS CDATA #REQUIRED
    STARTTIME CDATA #IMPLIED
    PREFERREDENDTIME CDATA #IMPLIED
    VALIDENDTIME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    IDENTITYASSOC_ID CDATA #IMPLIED
>

<!ELEMENT IAPREFIX EMPTY>
<!ATTLIST IAPREFIX
    ID CDATA #REQUIRED
    PREFIXADDRESS CDATA #REQUIRED
    PREFIXLENGTH CDATA #REQUIRED
    STARTTIME CDATA #IMPLIED
    PREFERREDENDTIME CDATA #IMPLIED
    VALIDENDTIME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    IDENTITYASSOC_ID CDATA #IMPLIED
>

<!ELEMENT IDENTITYASSOC EMPTY>
<!ATTLIST IDENTITYASSOC
    ID CDATA #REQUIRED
    DUID CDATA #REQUIRED
    IATYPE CDATA #IMPLIED
    IAID CDATA #IMPLIED
    STATE CDATA #IMPLIED
>

